# Merging Sentiment Data and Apple Stock Prices Data

## Read Apple Stock Prices Data

In [1]:
# Import pandas
import pandas as pd

# Read the daily 'AAPl' stock prices, that is taken from Yahoo finance
aapl_stock_data = pd.read_csv("stock_data_aapl_2014_2016.csv", index_col=0)
aapl_stock_data = aapl_stock_data.sort_index()
# index is changed to datetime
aapl_stock_data.index = pd.to_datetime(aapl_stock_data.index)

aapl_stock_data.head()

                 Open       High        Low      Close  Adj Close      Volume
Date
2014-01-28  18.170000  18.392857  17.931070  18.089287  16.087397  1065523200
2014-01-29  17.998215  18.120358  17.807858  17.883928  15.904763   502810000
2014-01-30  17.947857  18.089287  17.739286  17.849285  15.873960   678501600
2014-01-31  17.684999  17.911785  17.626785  17.878571  15.900002   464797200
2014-02-03  17.950357  18.133215  17.832144  17.911785  15.929543   401464000

## Read Apple Stock News Headline Sentiment Score

In [2]:
# Read sentiment data that we prepared earlier
apple_daily_sentiment_score = pd.read_csv('apple_daily_sentiment.csv', index_col=0)

# index is changed to datetime
apple_daily_sentiment_score.index = pd.to_datetime(apple_daily_sentiment_score.index)

apple_daily_sentiment_score.head()

                         trading_time     score
Date
2014-01-28  2014-01-28 09:30:00+00:00  0.039278
2014-01-29  2014-01-29 09:30:00+00:00  0.026540
2014-01-30  2014-01-30 09:30:00+00:00  0.029652
2014-01-31  2014-01-31 09:30:00+00:00  0.213817
2014-02-03  2014-02-03 09:30:00+00:00 -0.028657

## Merging Stock Price Data and Sentiment Data together

In [3]:
# Join the two dataframes: aapl_stock_data and apple_daily_sentiment_score
prices_and_sentiment_score = pd.concat([aapl_stock_data, apple_daily_sentiment_score], axis=1)
prices_and_sentiment_score.dropna(inplace=True)
prices_and_sentiment_score.head()

,Open,High,Low,Close,Adj Close,Volume,trading_time,score
Date,,,,,,,,
2014-01-28,18.170000,18.392857,17.931070,18.089287,16.087397,1.065523e+09,2014-01-28 09:30:00+00:00,0.039278
2014-01-29,17.998215,18.120358,17.807858,17.883928,15.904763,5.028100e+08,2014-01-29 09:30:00+00:00,0.026540
2014-01-30,17.947857,18.089287,17.739286,17.849285,15.873960,6.785016e+08,2014-01-30 09:30:00+00:00,0.029652
2014-01-31,17.684999,17.911785,17.626785,17.878571,15.900002,4.647972e+08,2014-01-31 09:30:00+00:00,0.213817
2014-02-03,17.950357,18.133215,17.832144,17.911785,15.929543,4.014640e+08,2014-02-03 09:30:00+00:00,-0.028657

In [4]:
prices_and_sentiment_score.to_csv("prices_and_sentiment_score.csv")